# notebook
.ipynb_checkpoints/

# python
__pycache__/

# data
PennFudanPed/

# logs
logs/

# fine-tuned models
finetuned_models/

# results
embedding_cache/
probe_results/
results/

# vscode stuff
.vscode*